<div class="container" id="container">
    <div class="jumbotron" id="header">
        <h1 id="eat"><strong>Bob's Burger Logger</strong></h1>
        <h4 id="eat2">
            &copy; Renée Grinnell 2018 | <a href="https://github.com/reneegrinnell/BobsBurgerLogger" target="_blank">GitHub</a>
        </h4>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <form class="create-update-form" action="/burgers" method="POST">

                <div class="form-group" id="add">
                    <h3 class="title">Got a punny burger idea? Share it with Bob and Linda here:</h3>
                    <br>
                    <textarea id="box" class="form-control input-lg" type="text" name="b_name" rows="3"></textarea>
                </div>
                <button type="submit" id="order" class="bt btn-default btn-lg">Feed me!</button>
            </form>
        </div>
    </div>

    <div>
        <br>
        <hr id="line">
        <div class="row">
            <div class="col-sm-5" id="yum">
                <div class="panel-panel default">
                    <h3 class="title">Burger Menu</h3>
                    <ul class="list-group">
                        {{#each burgers}}
                        {{#unless this.devoured}}
                        <li class="list-group-item">
                            <div class="input-group">
                                <p class="lead"> {{this.burger_name}} </p>
                                <span class="input-group-btn">
                                    <form action="burgers/{{this.id}}?_method=PUT" method="POST">
                                        <input type="hidden" name="devoured" value="true">
                                        <button id="button" class="btn btn-default btn-lg" type="submit">Yummy!</button>
                                    </form>
                                </span>
                            </div>
                        </li>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        

        <div>
            <div class="col-sm-5" id="devoured">
                <h3 id="heaven">Already Devoured</h3>
                <div class="panel-panel default">
                    <ul class="list-group">
                        {{#each burgers}}
                        {{#if this.devoured}}
                        <li class="list-group-item">
                            <p class="lead">{{this.burger_name}} </p>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>